{
    "plugins": [
        ["module-resolver", {
            // "root": ["./src"],
            "alias": {
                "~": "./src"
            }
        }]
    ]
}

// Example: import App from '~/App'